@import 'styles.scss';

#profile-card {
  width:42%;
  display: flex;
  box-shadow: $hr-box-shadow;
  border-radius: 3px;
  padding:0 5% 1.8em 5%;
}

#profile-wrapper {
  width:100%;
  justify-content: center;
  display: flex;
}

#filters {
 width: 100%;
 margin-left:2em;
 margin-bottom:1em;
}
.fa.fa-edit {
  font-size: 12pt;
}

.card-row {
  padding-bottom: 0.2em;
  padding-left: 0.2em;
  display: flex;
}

#name {
  font-size: 18pt;
  padding:1em 0.2em;
  width:100%
}

#avatar  {
  height:100%;
  img {
    padding-top:1.4em;
    width:3em;
    float:left;
  }
}

#reservations-list {
  width: 100%;
  padding:20px;
}