nav {
  padding: 15px;  
}

img {
  margin: 0px 1vw 0px 1vw;
}

.navbar img {
  width: 40px;

}

.navbar img[src="/assets/HRLogo.png"] {
  width:47px;
}


.navbar-light .navbar-toggler {
  border: 0;
}