
nav {
  padding: 15px;  
}

img {
  margin: 0px 1vw 0px 1vw;
}

.navbar img {
  width: 40px;

}

.navbar img[src="/assets/HRLogo.png"] {
  width:47px;
}

#footerLinks p {
  color: #FFFFFF;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'Patua-One';
  font-size: 10pt;
  
}

#footerLinks {
  margin-top:1em;
  margin-left:20vw;
}

#footer {
  width:100%;
}

.navbar-light .navbar-toggler {
  border: 0;
}

.container {
  margin: 0;
  padding: 0;
  max-width: none;
}

